apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vikunja
  namespace: vikunja
spec:
  ingressClassName: nginx
  rules:
  - host: vikunja.home.arpa
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vikunja
            port:
              number: 3456
  tls:
  - hosts:
    - vikunja.home.arpa
    secretName: vikunja-tls
